.font-inter {
    font-family: "Inter", sans-serif !important;
}

.hero-title {
    font-size: 10rem;
}

.img-shift {
    margin-top: -34% !important;
    margin-left: 50% !important;
}

.img-main {
    max-width: 30rem;
}

.pill-S {
    color: white;
    background-color: #2c90a7;
    border-radius: 15rem;
}
.pill-T {
    color: white;
    background-color: #ed7a7f;
    border-radius: 15rem;
}
.pill-E {
    color: white;
    background-color: #689c76;
    border-radius: 15rem;
}
.pill-M {
    color: white;
    background-color: #e6b75b;
    border-radius: 15rem;
}

@media screen and (max-width: 600px) {
    .hero-title {
        font-size: 7rem;
    }
}

@media screen and (max-width: 425px) {
    .hero-title {
        font-size: 6.25rem;
    }
}
